<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieMatchAi</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>

<body class="bg-black">

  <nav>
    <div class="container">
      <a href="/" class="px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md">Home</a>
      <a href="/movies"
        class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white">Movies</a>
    </div>
  </nav>



  {% block body %} {% endblock %}
</body>

</html>