{% extends "usersapp/base.html" %}

{% block body %}

<div class="container text-white mx-auto flex items-center justify-center min-h-screen">

  <form method="post" class="border-1 p-5 rounded text-white grid grid-cols-2 grid-rows-4  gap-2">
    {% csrf_token %}
    <h2 class="col-span-2 text-center border-b-1">
      Please, log in!
    </h2>
    <label for="id_username">Email:</label>
    <input class="border border-white p-1 bg-white rounded text-black" type="text" name="username" autofocus=""
      autocapitalize="none" autocomplete="username" maxlength="200" required="" id="id_username">

    <label for="id_password">Password:</label>
    <input class="border border-white bg-white p-1 rounded text-black" type="password" name="password"
      autocomplete="current-password" required="" id="id_password">
    <button class="col-span-2 border-1 cursor-pointer" type="submit">Log In</button>
    <p>
      If you don't have an account, <a class="underline" href="{% url 'register' %}">register</a> first!
    </p>
  </form>
</div>

{% endblock %}